{% extends 'app/base.html.twig' %}

{% block body %}
    {% embed 'templates/accordion.html.twig' %}
        {% import 'macros/m-accordion.html.twig' as accordion %}
        {% block content %}
            {% for i in 1.. 8 %}
                {% set paragraph %}
                <p>[Content {{ loop.index }}] Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo fuga voluptatem dolore, veritatis officia eligendi qui enim obcaecati delectus, tenetur reprehenderit quae! Neque quisquam in reprehenderit doloremque odio ab quibusdam?</p>
                {% endset %}
                {{ accordion.item('Accordion title ' ~ loop.index, paragraph, 'acc-' ~ loop.index) }}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
