<nav role="navigation" aria-label="Breadcrumbs" class="breadcrumbs">
    <h2 class="visually-hidden" id="breadcrumbs-title">You are here</h2>
    <ol class="breadcrumbs__list" aria-labelledby="breadcrumbs-title" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" title="Home" href="/" itemscope="" itemtype="http://schema.org/Thing" itemprop="item">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1">
        </li>
        {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumbs__space" aria-hidden="true">&gt;</li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <a class="breadcrumbs__link" title="{{ breadcrumb.title }}" href="{{ breadcrumb.link|default('#') }}" itemscope="" itemtype="http://schema.org/Thing" itemprop="item" {% if loop.last %}aria-current="page"{% endif %}>
                <span itemprop="name">{{ breadcrumb.title }}</span>
            </a>
            <meta itemprop="position" content="{{ loop.index + 1 }}">
        </li>
        {% endfor %}
    </ol>
</nav aria-label="Breadcrumb">
