<div class="user u-flex {{ class|default('') }}" style="display: flex;">
    {% block image %}{% endblock %}
    <div class="user__info">
        {% block info %}{% endblock %}
        {% if block('social') is defined %}
        <div class="user__social">
            <ul class="user__social-list u-flex" aria-label="{{ 'a11y.visit_user_rrss'|trans }}">
                {{ block('social') }}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
